<h1><%= @reviewpage.museum_name %></h1>
<p><%= @reviewpage.location %></p>
<p><%= @reviewpage.date_visited %></p>
<p><%= @reviewpage.content %></p>


<p>
 <a href='/reviewpages/<%= @reviewpage.id %>/edit'><input type="button" value="Edit a Review"></a>
</p>

